[flake8]
max-line-length = 100
per-file-ignores =
    voice2pdf_site/voice2pdf/tests.py:F401
ignore = D100, D101, D102, D103, D104, D105, D106

exclude =
    .git
    .github
    .vscode
    .flake8
    .pre-commit-config.yaml
    .pre-commit-hooks.yaml
    .pre-commit-hooks.yaml
    build
    migrations
    __pycache__
    manage.py
    settings.py
    env
    .env
    venv
    .venv
