[flake8]
max-line-length = 100
per-file-ignores =
    voice2pdf_site/voice2pdf/tests.py:F401
ignore = D100, D101, D102, D103

exclude =
    migrations
    __pycache__
    manage.py
    settings.py
    env
    .env
    venv
    .venv
